@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	overflow-x: hidden; /*--fixed content to stay in the browser window and not overflow--*/
	font-family: 'Lato' , sans-serif;
	color: black;
	background-color: #D9D9D9!important;
}
.offset h1 {
  color: #8C8674;
  font-size: 1rem;
  letter-spacing: .5rem;
  font-weight: 500; 
}
.offset p {
  color: #3D3C42;
}
.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*---NAVIGATION--*/

.fixed-top  {
 -webkit-backface-visibility: hidden;
} /*---NAVBAR jumping on scroll---*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background-color: rgba(255, 255, 255, 0.5)!important;/*--50% transparency with 0.5--*/
	position: left;
}
.navbar-brand img {
  height: 4.5rem; 
}
.navbar-nav li {
	padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link {
	color: #3D3C42;
	padding-top: .8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255)!important;
	transition-timing-function: ease-out;
}

/*---LANDING PAGE--*/

.home-inner {
	background-image: url(../img/bedroom_wood.jpeg);
	position: fixed;
	display: table;
	top: 0;
  	left: 0;
	width: 100%;
  	height: 100%;
  	background-size: cover;
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%;
	z-index: 1; /*--to always display the caption on top of the background image--*/
	color: white;
	text-transform: uppercase;
}
.caption h1 {
	font-size: 3.5rem;
	font-weight: 700; /*--sourced from Google fonts and related to 'Lato'--*/
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem;
	padding-bottom: 1rem; /*--added padding between the h1 and h3--*/
	paint-order: 1rem;
}

.caption h3 {
	font-size: 1rem;
	text-shadow: .1rem .1rem .5rem;
	padding-bottom: 1.6rem;
}

.btn-lg {
	border-width: medium;
	border-radius: 5;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
	transition-duration: .2s;
	transition-timing-function: flare;
}
.landing {
  	position: relative;
  	width: 100%;
  	height: 100vh;
  	display: table;
  	z-index: -1;
}
.home-wrap {
	 clip: rect(0, auto, auto, 0);
	 position: absolute; /*--ABOUT section needs its OWN SECTION!!?--*/
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
}

/*---ABOUT--*/

.narrow {
	width: 75%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.narrow h1 {
	font-size: 2.4rem;
}
.btn-secondary {
	border-width: medium;
	border-radius: 5;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: .6rem 1.3rem;
	margin: 1rem;
	color: #8C5626;
	background-color: #DEE3E7;
	border-color: #8C5626;
}
.btn-secondary:hover {
	background-color: #D4D4D4;
	border-color: #CAB8AA;
	transition-duration: .2s;
	transition-timing-function: flare;
}
/*---COLLECTIONS---*/
.card-body {
	background-color: transparent;
	width: 100%;
	border-width: 1rem;
	padding: 1rem 1rem 1rem;
	margin: 1rem 1rem;
}
 h4 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	text-shadow: .1rem .1rem .8rem;
	paint-order: 1rem;
}
.collapse img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width:200px;
  height:200px;
  border-radius: 10%;
}
/*---FURNITURE--*/

.jumbotron {
	margin-bottom: 0;
	padding: 2rem 0 3.5rem;
	border-radius: 0;
	background-image: url(../img/clean_door.jpeg);
}

.furniture-heading {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: .1rem .1rem .8rem;
	paint-order: 1rem;
}
.heading-underline {
	width: 3rem;
	height: .2rem;
	background-color: #3D3C42;
	margin: 0 auto 2rem; /*--heading-underline applies to all sections, for now.--*/
}
.furniture p {
  font-size: 1.1rem;
}
.feature {
	color: #3D3C42;
	text-transform: uppercase;
}
.feature h3 {
	font-size: 1rem;
	/*-fix this, affects the paragraphs too?-*/
	text-transform: uppercase;
	color: #3D3C42;
	text-shadow: .1rem .1rem .8rem;
	paint-order: 1rem;
}
.feature p {
	color: white;
	text-transform: none;
	text-shadow: 0, 0, 0;
	text-align: center;
	margin: 1.4rem 2rem 2rem;
}

/*--MATERIALS|FABRICS--*/
.fixed {
	background-image: url(../img/cotton.jpeg);
	z-index: -1;
	
}
.dark {
	background-color: rgba(0, 0, 0, 0.5);
	color: #B4D8D4;
	padding: 7rem 2rem;
}
.fixed-background h3 {
	margin-bottom: 2rem;
}
.fixed-background p {
	margin-top: 1.5rem;
}
.materialsfabrics {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.4rem;
	text-transform: uppercase;
	color: #A9D4D2;
	text-shadow: .1rem .1rem .8rem;
	paint-order: 1rem;
}
.materials h3 {
  	font-size: 1rem;
  	text-transform: uppercase;
  	color:  #A9D4D2;
  	text-shadow: .1rem .1rem .8rem;
  	paint-order: 1rem;
}

.materials p {
  	color: #B4D8D4;
  	font-size: 1.1rem; 
}
/*--TESTIMONIALS|CLIENTS--*/
.testimonials {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  color: white;
  text-shadow: .1rem .1rem .8rem;
  paint-order: 1rem;
}
.row {
  font-size: 1rem;
  color: black;
}
.clients img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width:200px;
  height:200px;
  border-radius: 50%;
}
.feature svg.svg-inline--fa {
  color: #3D3C42; 
}
blockquote svg.svg-inline--fa {
  text-align: center;
  color: #3D3C42; 
  margin: 1rem;
}
.testimonials-hr {
  border-top: .05rem solid white; 
}

/*---FOOTER|CONTACT SECTION---*/
footer {
  background-color: #E0E5EC;
  padding: 2rem 0 2rem; /*--fix this, footer take too much realestate--*/
  margin-top: 1rem: 
}
footer img {
  height: auto;
  margin: 1.5rem 0;
}
.offset p, strong {
  color: white;
}
footer a {
size: 48px;
margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa and :hover {
color: white;
margin: 1.2rem .5rem 0 0;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid white;
  margin-top: 3rem;
}

/*---BOOTSTRAP---*/
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}


/*--FORM--*/




